<!DOCTYPE html>
<html>
<head>
    <title>WebApplication3</title>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            Enjoy, <a href="https://q5ca.pw">Q5Ca</a>
        </footer>
    </div>

</body>
</html>
